Header validation not following guidlines in RFC 7231 

Hi

Some methods in the REST api wants headers to be set. For example /{branch}/concepts

```
{
  "Accept": "application/json",
  "Accept-Language": "en-X-900000000000509007,en-X-900000000000508004,en"
}
```

According to RFC 7231 Section 5.3.2 the grammar for the 'Accept' request header allows for whitespace characters. Whitespace characters are defined by 'OWS' RFC 7231 Section 3.2.3. 'OWS' is "optional whitespace" defined as zero or more occurrences of a space character or a tab character.

But if you add a space to it, validation will kick in and say that the field is invalid. ie:

The real problem is that some frameworks (like .net core) automaticly tries to add a space if there is none.
So this code (see the discussion if it's right or wrong  https://github.com/dotnet/runtime/issues/30171):

`request.Headers.Add("Accept-Language", "sv-X-900000000000509007,sv-X-900000000000508004,sv");
`

generates this:

```
{
  "Accept": "application/json",
  "Accept-Language": "sv-X-900000000000509007, sv-X-900000000000508004, sv"
}
```

If would be great if and leading spaces could be trimed out after the split is made :)


Thanks for raising. We will fix this 👍 

Fixed in [release 7.1.2](https://github.com/IHTSDO/snowstorm/releases/tag/7.1.2).